.page {
  font-family: "inter", arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

.header {
}

.content {
}

.recipes {
}

.reciple {
}

.recipe__image {
}

.recipe__title {
}

.reservation {
}

.reservation__form {
}

.menu {
}

.mene__tile {
}

.menu__content {
}

.menu__lists {
}

.menu__list {
}

.about {
}

.about__title {
}

.about__test {
}

.footer {
}

.footer__logo {
}

.footer__socia-media {
}

.footer__copyright {
}
